@keyframes swipeInRight {
  from {
    opacity: 0;
    transform: translateX(100%); /* Start from 100% to the right */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End at original position */
  }
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  position: fixed;
  top: 60px; /*  below the navigation bar */
  left: 0;
  width: 100%;
  margin-top: 0;
  text-align: center;
  padding: 30px;
  background-color: white; /* so header is visible over the content */
  z-index: 999; /* lower than nav but above content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.nav-container {
  color: #900c3f;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* full width of website */
  background-color: white;
  display: flex;
  justify-content: space-around; /* space around every item */
  padding: 20px 0;
  z-index: 1000; /* to keep it on the top while scrolling */
  font-weight: bold;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
}

.nav-container p {
  margin: 0;
}

.nav-container a {
  text-decoration: none;
  color: #900c3f;
}

.content,
.content2,
.content3,
.content4,
.content5,
.content6 {
  margin: 30px;
  border: 2px solid black;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  flex-direction: column-reverse;
  animation: swipeInRight 1s ease-out forwards;
}

/* .content p,
.content2 p,
.content3 p,
.content4 p,
.content5 p,
.content6 p {
  margin: 5px;
  text-align: center;
  overflow: hidden;
  display: block;
  max-width: 100%;
  max-height: 100%;
} */
/* white-space: normal; */
.content p,
.content2 p,
.content3 p,
.content4 p,
.content5 p,
.content6 p {
  margin: 10px;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 400px;
  width: 400px;
  height: 400px;
  /* display: block; */
  box-sizing: border-box;
  /* overflow: hidden; */
}
.wholeContent {
  margin-top: 170px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* .content2 {
  animation-delay: 0.2s; 
}

.content3 {
  animation-delay: 0.6s; 
}

.content4 {
  animation-delay: 0.12s; 
}

.content5 {
  animation-delay: 0.15s; 
} */
